*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:  rgba(255, 0, 234, 0.867);
}

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.container h1{
    color: #ffff;
     padding: 12px 20px;
     border: none;
     background-color: black ;
     font-size: 20px;
     cursor: pointer;
     color: #ffff;
}